body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiZJkvPhuwL4KC3S-Zr_StsujPtgbfXMK3rtLi9JVzn8_fwE2IvVm_WmFNiwzgY9qxxSFt6KNOJc_kbuQd8ozaOkFWmoawglVRuhZcMDwQpttB7IKrzTxCYtsUbQ2XkzOTEmV90BiHt8nl3Vel-sFc6W42nrD3EWBs1r5S5vIbYTl5z4HGL3bEIe_YaqdQ/s16000/background.png);
  background-size: cover;
  background-position: center;
  color: #333;
}

.container {
  max-width: 500px;
  margin: 80px auto;
  background: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background: #25d366;
  /* WhatsApp-green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #1ebe5d;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
  display: none;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(90deg, #232526 0%, #414345 100%); */
  background-position: center;
  background-size: cover;
  background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjx0Y__Bn6a63CdxOW7JB7rstvjZivQLfAHqSuNHprc1ghYaWZJO0p93NuWvVstg8UwwJmgwqsorGgQWGZHMvoMhfQYRl_XJKrd6xk_kxhDkBpjEl1bEmGHpv0B9qeZzC05_hoWBV_xCm-NwFsdDbACiq99ZCXsI2cB0Sc31PdQWnXQnJ0iU28JBoGawtM/s16000/header.png);
  padding: 10px 32px;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo img {
  /* height: 100px; */
  width: 150px;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  gap: 24px;
}

.navbar-menu a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.05rem;
  transition: color 0.2s;
}

.navbar-menu a:hover {
  color: #ffd700;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
  }
  .navbar-menu {
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
  }
}

button.logout {
  /* padding: 10px 20px; */
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button.logout:hover {
  background: #c82333;
}
