@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiZJkvPhuwL4KC3S-Zr_StsujPtgbfXMK3rtLi9JVzn8_fwE2IvVm_WmFNiwzgY9qxxSFt6KNOJc_kbuQd8ozaOkFWmoawglVRuhZcMDwQpttB7IKrzTxCYtsUbQ2XkzOTEmV90BiHt8nl3Vel-sFc6W42nrD3EWBs1r5S5vIbYTl5z4HGL3bEIe_YaqdQ/s16000/background.png);
    background-size: cover;
    background-position: center;
    color: #333;
}


/* background */

.background-dalam {
    background: url(https://assets.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/p2/76/2023/08/22/5-1-664003696.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px;
}

.background-dalam h2 {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

.background-dalam h5 {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .background-dalam {
        padding: 100px;
    }
    .background-dalam h2 {
        font-size: 32px;
    }
    .background-dalam h5 {
        font-size: 18px;
    }
}


/* kontak */

.kontak-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontak-container .whatsapp {
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    /* border: 2px solid #25d366; */
    padding: 10px 20px;
    margin: 20px;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.whatsapp i {
    text-align: center;
    font-size: 40px;
    margin-right: 10px;
}

.whatsapp h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.whatsapp button {
    background: none;
    border: 5px solid #25d366;
    border-radius: 30px;
    padding: 10px 20px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.kontak-container .whatsapp:hover {
    background-color: #25d366;
    color: #fff;
}

@media (max-width: 480px) {
    .kontak-container {
        flex-direction: column;
    }
    .kontak-container .whatsapp {
        font-size: 20px;
        padding: 8px 16px;
        margin: 10px;
    }
    .whatsapp i {
        font-size: 40px;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .whatsapp h3 {
        font-size: 18px;
    }
    .whatsapp button {
        padding: 8px 16px;
        border-width: 4px;
    }
}


/* office */

.office {
    text-align: center;
    margin-top: 40px;
}

.office i {
    font-size: 40px;
    color: #4e54c8;
    margin-bottom: 10px;
}

.office h4 {
    margin: 10px 0 5px 0;
    font-size: 22px;
    color: #000;
}

.office p {
    margin: 0;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

@media (max-width: 480px) {
    .office i {
        font-size: 30px;
    }
    .office h4 {
        font-size: 20px;
    }
    .office p {
        font-size: 16px;
    }
}


/* Navbar styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo img {
    /* font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none; */
    width: 150px;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    background: rgba(188, 212, 229, 0.8);
    color: #0e556b;
    border: 2px solid #fff;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000;
}

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active {
        display: flex;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }
    .navbar-logo img {
        width: 120px;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}
